:root {
    --size: 700px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: blanchedalmond;
    padding: 12px;
    font-size: 40px;
    font-weight: 900;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: coral;
    margin-top: auto;
}

.content {
    display: flex;
    background-color: azure;
    justify-content: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: var(--size);
    max-width: var(--size);
    height: 100vw;
    width: 100vw;
}

.pixel {
    background-color: white;
}

.clicked {
    background-color: black;
}